openapi: 3.0.1
info:
  title: LabCI Innovation Data API(Staging)
  description: This is a nodejs service to provide innovation restful data APIs.
  license:
    name: LabCI Limited
    url: https://www.labci.com
  version: UAT-1.3.4.2
servers:
- url: https://t12a.trkd-hs.com/inno-data-api
- url: /inno-data-api
tags:
- name: Auth
  description: Authentication part.
- name: Chart
  description: Chart data(MTS/HTS).
- name: Company
  description: Retrieve company related info.
- name: Derivative
  description: Retrieve related derivatives.
- name: ETF
  # description: Retrieve related ETFs. 
- name: Event
  description: Retrieve company events.
- name: Financial
  description: Retrieve financial related info.
- name: Market
  description: Retrieve market related info.
- name: News
  description: Retrieve news headline and story.
- name: Ownership
  description: Retrieve ownership info.
- name: Peer
  description: Retrieve the data of peer comparision.
- name: Quote
  description: Retrieve quote info.
- name: Rating
  description: Retrieve analyst ratings info.
- name: Ranking
  description: Retrieve the stock rankings
- name: Reference
  description: Return some reference data, like exchanges, market hours etc
- name: Score
  description: Retrieve company score info.
- name: Search
  description: Power search.
- name: Sentiment
  description: Retrieve sentiment info.
- name: Sustainbility
  description: Retrieve the sustainbility(ESG) info.
- name: Trade
  description: Retrieve trade analysis and signal etc info.
- name: Misc
  description: Miscellaneous APIs

paths:
  /auth/token:
    post:
      tags:
      - Auth
      summary: Genereate JWT token with payload
      description: Return generated JWT token.
      operationId: generateToken
      consumes:
        - application/json
      produces:
        - application/json
      requestBody:
        content: 
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: "yourUserName"
                password:
                  type: string
                  example: "yourPassword"
      responses:
        201:
          description: The token is returned in response header
          content: {}
        403:
          description: Invalid username or password
          content: {}
        500:
          description: Internal server error
          content: {}
  /peers/all/{ric}:
    get:
      tags:
      - Peer
      summary: Peer comparison by all with ric
      operationId: getAllInstrumentsBySectorAndCountryOfRic
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
      - name: x-auth-token
        in: header
        description: This is the JWT token. Please use /auth/token POST to generate the token for your test
        required: true
        schema:
          type: string
      - name: ric
        in: path
        description: The ric code
        required: true
        schema:
          type: string
        example: TSLA.O
      - name: orderByColumn
        in: query
        description: The column used to do the sorting. 1W-1 week performance, 1M-1 month performance, 3M-3 month performance, 6M-6 month performance, 1Y-1 year performance,RSI-rsi, SMA5-SMA 5, SMA25-SMA 25,OES-ESG Score, CES-ESG Controvery Score, CBS-ESG Combined Score, EES-ESG Environment Score, SES-ESG Social Score,GES-ESG Goverance Score,TP-Target Price, NB-No of Brokers,RS-Recommendation Signal, OS-Overll Score,ES-Earning Score, FS-Fundamental Score, VS-Valuation Score, ERS-Risk Score, MS-Price Momentum Score,MC-Market cap in usd, PERE-Per consensus Estimate, PERA-Per Actual, PBRE-Pbr Consensus Estimate,PBRA-Pbr Actual, DY-Dividend Yield, ROEE-ROE Estimate, ROEA-Roe Actual, CS-Overall Score, PE-PE, AVGVOL30-Average Volume 30, BETA-BETA
        required: true
        schema:
          type: string
          enum:
          - 1W
          - 1M
          - 3M
          - 6M
          - 1Y
          - RSI
          - SMA5
          - SMA25
          - OES
          - CES
          - CBS
          - EES
          - SES
          - GES
          - TP
          - NB
          - RS
          - OS
          - ES
          - FS
          - VS
          - ERS
          - MS
          - MC
          - PERE
          - PERA
          - PBRE
          - PBRA
          - DY
          - ROEE
          - ROEA
          - CS
          - PE
          - AVGVOL30
          - BETA
      - name: orderByDirection
        in: query
        description: Sort by ascending or descending.
        required: true
        schema:
          type: string
          enum:
          - DESC
          - ASC
      - name: categoriedBy
        in: query
        description: Retrieve instruments by sector and country or sector only.
        required: true
        schema:
          type: string
          enum:
          - COUNTRY
          - SECTOR
      responses:
        200:
          description: The instrument list sorted by the criteria.
          content:
            application/json:
              schema:
                type: object
                properties:
                  rankings:
                    type: array
                    items:
                      type: object
                      properties:
                        ric:
                          type: string
                          example: SOND.O
                          description: The RIC (Reuters Instrument Code) of the stock
                        ticker:
                          type: string
                          example: SOND
                          description: The ticker symbol of the stock
                        sector:
                          type: integer
                          example: 53
                          description: The sector code of the stock
                        sectorDesc:
                          type: string
                          example: Consumer Cyclicals
                          description: The description of the sector
                        exchangeCountryCode:
                          type: string
                          example: US
                          description: The country code of the exchange
                        exchangeCode:
                          type: string
                          example: NSQ
                          description: The exchange code of the stock
                        countryCode:
                          type: string
                          example: USA
                          description: The country code of the stock
                        enName:
                          type: string
                          example: SONDER HLD A ORD
                          description: The English name of the stock
                        zhName:
                          type: string
                          example: null
                          description: The Chinese name of the stock
                        cnName:
                          type: string
                          example: null
                          description: The Chinese name of the stock
                        1wReturn:
                          type: number
                          example: 19.918699
                          description: The 1-week return of the stock
                        1mReturn:
                          type: number
                          example: 130.46875
                          description: The 1-month return of the stock
                        3mReturn:
                          type: number
                          example: 127.799228
                          description: The 3-month return of the stock
                        6mReturn:
                          type: number
                          example: -17.918753
                          description: The 6-month return of the stock
                        1yReturn:
                          type: number
                          example: -67.621556
                          description: The 1-year return of the stock
                        rank:
                          type: integer
                          example: 1
                          description: The rank of the stock
                        quote:
                          type: object
                          properties:
                            NETCHNG_1:
                              type: string
                              example: 22.2
                              description: The net change of the stock
                            TRNOVR_UNS:
                              type: string
                              example: 10333
                              description: The turnover of the stock
                            ACVOL_UNS:
                              type: string
                              example: 21000
                              description: The volume of the stock
                            HST_CLOSE:
                              type: string
                              example: 162.50000
                              description: The previous close price of the stock
                            TRDPRC_1:
                              type: string
                              example: 12.3
                              description: The last price of the stock
                            PCTCHNG:
                              type: string
                              example: 3.2
                              description: The percentage change of the stock
                  totalCountByCountry:
                    type: integer
                    example: 18
                    description: The total count by country
                  totalCountBySector:
                    type: integer
                    example: 100
                    description: The total count by sector
                  companyInfo:
                    type: object
                    properties:
                      enName:
                        type: string
                        example: test
                        description: The English name of the company
                      zhName:
                        type: string
                        example: test
                        description: The Chinese name of the company
                      cnName:
                        type: string
                        example: test
                        description: The Chinese name of the company
                      currency:
                        type: string
                        example: USD
                        description: The currency of the stock
                      ticker:
                        type: string
                        example: "6501"
                        description: The ticker symbol of the stock
                      sector:
                        type: integer
                        example: 53
                        description: The sector id of the stock
                      exchangeCode:
                        type: string
                        example: NSQ
                        description: The exchange code of the stock
                  quote:
                    type: object
                    properties:
                      NETCHNG_1:
                        type: string
                        example: 22.2
                        description: The net change of the stock
                      TRNOVR_UNS:
                        type: string
                        example: 10333
                        description: The turnover of the stock
                      ACVOL_UNS:
                        type: string
                        example: 21000
                        description: The volume of the stock
                      HST_CLOSE:
                        type: string
                        example: 162.50000
                        description: The previous close price of the stock
                      TRDPRC_1:
                        type: string
                        example: 12.3
                        description: The last price of the stock
                      PCTCHNG:
                        type: string
                        example: 3.2
                        description: The percentage change of the stock
                  currentRicRank:
                    type: integer
                    example: 9
                    description: The rank of current ric in the list.   
        400:
          description: Bad request
          content: {}
        401:
          description: Invalid token
          content: {}
        404:
          description: No ric matched the exchange code and ticker
          content: {}
        500:
          description: Internal server error
          content: {}
  /peers/all:
    get:
      tags:
      - Peer
      summary: Peer comparison by all with exchange code and ticker.
      operationId: getAllInstrumentsBySectorAndCountryOfTicker
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
      - name: x-auth-token
        in: header
        description: This is the JWT token. Please use /auth/token POST to generate the token for your test
        required: true
        schema:
          type: string
      - name: exchangeCode
        in: query
        description: The exchange code
        required: true
        schema:
          type: string
        example: NSQ
      - name: ticker
        in: query
        description: The ticker
        required: true
        schema:
          type: string
        example: TSLA
      - name: orderByColumn
        in: query
        description: The column used to do the sorting. 1W-1 week performance, 1M-1 month performance, 3M-3 month performance, 6M-6 month performance, 1Y-1 year performance,RSI-rsi, SMA5-SMA 5, SMA25-SMA 25,OES-ESG Score, CES-ESG Controvery Score, CBS-ESG Combined Score, EES-ESG Environment Score, SES-ESG Social Score,GES-ESG Goverance Score,TP-Target Price, NB-No of Brokers,RS-Recommendation Signal, OS-Overll Score,ES-Earning Score, FS-Fundamental Score, VS-Valuation Score, ERS-Risk Score, MS-Price Momentum Score,MC-Market cap in usd, PERE-Per consensus Estimate, PERA-Per Actual, PBRE-Pbr Consensus Estimate,PBRA-Pbr Actual, DY-Dividend Yield, ROEE-ROE Estimate, ROEA-Roe Actual, CS-Overall Score, PE-PE, AVGVOL30-Average Volume 30, BETA-BETA
        required: true
        schema:
          type: string
          enum:
          - 1W
          - 1M
          - 3M
          - 6M
          - 1Y
          - RSI
          - SMA5
          - SMA25
          - OES
          - CES
          - CBS
          - EES
          - SES
          - GES
          - TP
          - NB
          - RS
          - OS
          - ES
          - FS
          - VS
          - ERS
          - MS
          - MC
          - PERE
          - PERA
          - PBRE
          - PBRA
          - DY
          - ROEE
          - ROEA
          - CS
          - PE
          - AVGVOL30
          - BETA
      - name: orderByDirection
        in: query
        description: Sort by ascending or descending.
        required: true
        schema:
          type: string
          enum:
          - DESC
          - ASC
      - name: categoriedBy
        in: query
        description: Retrieve instruments by sector and country or sector only.
        required: true
        schema:
          type: string
          enum:
          - COUNTRY
          - SECTOR
      responses:
        200:
          description: The instrument list sorted by the criteria.
          content:
            application/json:
              schema:
                type: object
                properties:
                  rankings:
                    type: array
                    items:
                      type: object
                      properties:
                        ric:
                          type: string
                          example: SOND.O
                          description: The RIC (Reuters Instrument Code) of the stock
                        ticker:
                          type: string
                          example: SOND
                          description: The ticker symbol of the stock
                        sector:
                          type: integer
                          example: 53
                          description: The sector code of the stock
                        sectorDesc:
                          type: string
                          example: Consumer Cyclicals
                          description: The description of the sector
                        exchangeCountryCode:
                          type: string
                          example: US
                          description: The country code of the exchange
                        exchangeCode:
                          type: string
                          example: NSQ
                          description: The exchange code of the stock
                        countryCode:
                          type: string
                          example: USA
                          description: The country code of the stock
                        enName:
                          type: string
                          example: SONDER HLD A ORD
                          description: The English name of the stock
                        zhName:
                          type: string
                          example: null
                          description: The Chinese name of the stock
                        cnName:
                          type: string
                          example: null
                          description: The Chinese name of the stock
                        1wReturn:
                          type: number
                          example: 19.918699
                          description: The 1-week return of the stock
                        1mReturn:
                          type: number
                          example: 130.46875
                          description: The 1-month return of the stock
                        3mReturn:
                          type: number
                          example: 127.799228
                          description: The 3-month return of the stock
                        6mReturn:
                          type: number
                          example: -17.918753
                          description: The 6-month return of the stock
                        1yReturn:
                          type: number
                          example: -67.621556
                          description: The 1-year return of the stock
                        rank:
                          type: integer
                          example: 1
                          description: The rank of the stock
                        quote:
                          type: object
                          properties:
                            NETCHNG_1:
                              type: string
                              example: 22.2
                              description: The net change of the stock
                            TRNOVR_UNS:
                              type: string
                              example: 10333
                              description: The turnover of the stock
                            ACVOL_UNS:
                              type: string
                              example: 21000
                              description: The volume of the stock
                            HST_CLOSE:
                              type: string
                              example: 162.50000
                              description: The previous close price of the stock
                            TRDPRC_1:
                              type: string
                              example: 12.3
                              description: The last price of the stock
                            PCTCHNG:
                              type: string
                              example: 3.2
                              description: The percentage change of the stock
                  totalCountByCountry:
                    type: integer
                    example: 18
                    description: The total count by country
                  totalCountBySector:
                    type: integer
                    example: 100
                    description: The total count by sector
                  companyInfo:
                    type: object
                    properties:
                      enName:
                        type: string
                        example: test
                        description: The English name of the company
                      zhName:
                        type: string
                        example: test
                        description: The Chinese name of the company
                      cnName:
                        type: string
                        example: test
                        description: The Chinese name of the company
                      currency:
                        type: string
                        example: USD
                        description: The currency of the stock
                      ticker:
                        type: string
                        example: "6501"
                        description: The ticker symbol of the stock
                      sector:
                        type: integer
                        example: 53
                        description: The sector id of the stock
                      exchangeCode:
                        type: string
                        example: NSQ
                        description: The exchange code of the stock
                  quote:
                    type: object
                    properties:
                      NETCHNG_1:
                        type: string
                        example: 22.2
                        description: The net change of the stock
                      TRNOVR_UNS:
                        type: string
                        example: 10333
                        description: The turnover of the stock
                      ACVOL_UNS:
                        type: string
                        example: 21000
                        description: The volume of the stock
                      HST_CLOSE:
                        type: string
                        example: 162.50000
                        description: The previous close price of the stock
                      TRDPRC_1:
                        type: string
                        example: 12.3
                        description: The last price of the stock
                      PCTCHNG:
                        type: string
                        example: 3.2
                        description: The percentage change of the stock
                  currentRicRank:
                    type: integer
                    example: 9
                    description: The rank of current ric in the list.   
        400:
          description: Bad request
          content: {}
        401:
          description: Invalid token
          content: {}
        404:
          description: No ric matched the exchange code and ticker
          content: {}
        500:
          description: Internal server error
          content: {}
  /peers/performance/pagination/{ric}:
    get:
      tags:
      - Peer
      summary: Peer comparison by performance with ric and pagination.
      operationId: getAllInstrumentsBySectorAndCountryOfRicWithPagination
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
      - name: x-auth-token
        in: header
        description: This is the JWT token. Please use /auth/token POST to generate the token for your test
        required: true
        schema:
          type: string
      - name: ric
        in: path
        description: The ric code
        required: true
        schema:
          type: string
        example: TSLA.O
      - name: orderByColumn
        in: query
        description: The column used to do the sorting.
        required: true
        schema:
          type: string
          enum:
          - 1W
          - 1M
          - 3M
          - 6M
          - 1Y
          - EN-LANG
          - ZH-LANG
          - CN-LANG
          - TICKER
      - name: orderByDirection
        in: query
        description: Sort by ascending or descending.
        required: true
        schema:
          type: string
          enum:
          - DESC
          - ASC
      - name: categoriedBy
        in: query
        description: Retrieve instruments by sector and country or sector only.
        required: true
        schema:
          type: string
          enum:
          - COUNTRY
          - SECTOR
      - name: pageNo
        in: query
        description: The current page number.
        required: true
        schema:
          type: integer
          example: 1
      - name: pageSize
        in: query
        description: The number of records on each page.
        required: true
        schema:
          type: integer
          example: 10
      responses:
        200:
          description: The instrument list sorted by the criteria.
          content:
            application/json:
              schema:
                type: object
                properties:
                  rankings:
                    type: array
                    items:
                      type: object
                      properties:
                        ric:
                          type: string
                          example: SOND.O
                          description: The RIC (Reuters Instrument Code) of the stock
                        ticker:
                          type: string
                          example: SOND
                          description: The ticker symbol of the stock
                        sector:
                          type: integer
                          example: 53
                          description: The sector code of the stock
                        sectorDesc:
                          type: string
                          example: Consumer Cyclicals
                          description: The description of the sector
                        exchangeCountryCode:
                          type: string
                          example: US
                          description: The country code of the exchange
                        exchangeCode:
                          type: string
                          example: NSQ
                          description: The exchange code of the stock
                        countryCode:
                          type: string
                          example: USA
                          description: The country code of the stock
                        enName:
                          type: string
                          example: SONDER HLD A ORD
                          description: The English name of the stock
                        zhName:
                          type: string
                          example: null
                          description: The Chinese name of the stock
                        cnName:
                          type: string
                          example: null
                          description: The Chinese name of the stock
                        1wReturn:
                          type: number
                          example: 19.918699
                          description: The 1-week return of the stock
                        1mReturn:
                          type: number
                          example: 130.46875
                          description: The 1-month return of the stock
                        3mReturn:
                          type: number
                          example: 127.799228
                          description: The 3-month return of the stock
                        6mReturn:
                          type: number
                          example: -17.918753
                          description: The 6-month return of the stock
                        1yReturn:
                          type: number
                          example: -67.621556
                          description: The 1-year return of the stock
                        rank:
                          type: integer
                          example: 1
                          description: The rank of the stock
                        quote:
                          type: object
                          description: The quote of the stock
                          properties:
                            NETCHNG_1:
                              type: string
                              example: 22.2
                              description: The net change of the stock
                            TRNOVR_UNS:
                              type: string
                              example: 10333
                              description: The turnover of the stock
                            ACVOL_UNS:
                              type: string
                              example: 21000
                              description: The volume of the stock
                            HST_CLOSE:
                              type: string
                              example: 162.50000
                              description: The previous close price of the stock
                            TRDPRC_1:
                              type: string
                              example: 12.3
                              description: The last price of the stock
                            PCTCHNG:
                              type: string
                              example: 3.2
                              description: The percentage change of the stock
                  totalCountByCountry:
                    type: integer
                    example: 18
                    description: The total count by country
                  totalCountBySector:
                    type: integer
                    example: 100
                    description: The total count by sector
                  pagination:
                    type: object
                    properties:
                      hasPrevPage:
                        type: string
                        example: false
                        description: If has previous page.
                      currentPage:
                        type: integer
                        example: 1
                        description: The current page
                      hasNextPage:
                        type: string
                        example: "true"
                        description: If has the next page.
                      totalPages:
                        type: integer
                        example: 68
                        description: Total pages.
                  quote:
                    type: object
                    description: The quote of the stock
                    properties:
                      NETCHNG_1:
                        type: string
                        example: 22.2
                        description: The net change of the stock
                      TRNOVR_UNS:
                        type: string
                        example: 10333
                        description: The turnover of the stock
                      ACVOL_UNS:
                        type: string
                        example: 21000
                        description: The volume of the stock
                      HST_CLOSE:
                        type: string
                        example: 162.50000
                        description: The previous close price of the stock
                      TRDPRC_1:
                        type: string
                        example: 12.3
                        description: The last price of the stock
                      PCTCHNG:
                        type: string
                        example: 3.2
                        description: The percentage change of the stock
                  companyInfo:
                    type: object
                    properties:
                      enName:
                        type: string
                        example: test
                        description: The English name of the company
                      zhName:
                        type: string
                        example: test
                        description: The Chinese name of the company
                      cnName:
                        type: string
                        example: test
                        description: The Chinese name of the company
                      currency:
                        type: string
                        example: USD
                        description: The currency of the stock
                      ticker:
                        type: string
                        example: "6501"
                        description: The ticker symbol of the stock
                      sector:
                        type: integer
                        example: 53
                        description: The sector id of the stock
                      exchangeCode:
                        type: string
                        example: NSQ
                        description: The exchange code of the stock
        400:
          description: Bad request
          content: {}
        401:
          description: Invalid token
          content: {}
        404:
          description: No ric matched the exchange code and ticker
          content: {}
        500:
          description: Internal server error
          content: {}
  /peers/performance/pagination/{pageNo}/{pageSize}:
    get:
      tags:
      - Peer
      summary: Peer comparison by performance with exchange code & ticker and pagination.
      operationId: getAllInstrumentsBySectorWithExchangeCodeAndTickerWithPagination
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
      - name: x-auth-token
        in: header
        description: This is the JWT token. Please use /auth/token POST to generate the token for your test
        required: true
        schema:
          type: string
      - name: exchangeCode
        in: query
        description: The exchange code
        required: true
        schema:
          type: string
        example: NSQ
      - name: ticker
        in: query
        description: The ticker
        required: true
        schema:
          type: string
        example: TSLA
      - name: orderByColumn
        in: query
        description: The column used to do the sorting.
        required: true
        schema:
          type: string
          enum:
          - 1W
          - 1M
          - 3M
          - 6M
          - 1Y
          - EN-LANG
          - ZH-LANG
          - CN-LANG
          - TICKER
      - name: orderByDirection
        in: query
        description: Sort by ascending or descending.
        required: true
        schema:
          type: string
          enum:
          - DESC
          - ASC
      - name: categoriedBy
        in: query
        description: Retrieve instruments by sector and country or sector only.
        required: true
        schema:
          type: string
          enum:
          - COUNTRY
          - SECTOR
      - name: pageNo
        in: path
        description: The current page number.
        required: true
        schema:
          type: integer
          example: 1
      - name: pageSize
        in: path
        description: The number of records on each page.
        required: true
        schema:
          type: integer
          example: 10
      responses:
        200:
          description: The instrument list sorted by the criteria.
          content:
            application/json:
              schema:
                type: object
                properties:
                  rankings:
                    type: array
                    items:
                      type: object
                      properties:
                        ric:
                          type: string
                          example: SOND.O
                          description: The RIC (Reuters Instrument Code) of the stock
                        ticker:
                          type: string
                          example: SOND
                          description: The ticker symbol of the stock
                        sector:
                          type: integer
                          example: 53
                          description: The sector code of the stock
                        sectorDesc:
                          type: string
                          example: Consumer Cyclicals
                          description: The description of the sector
                        exchangeCountryCode:
                          type: string
                          example: US
                          description: The country code of the exchange
                        exchangeCode:
                          type: string
                          example: NSQ
                          description: The exchange code of the stock
                        countryCode:
                          type: string
                          example: USA
                          description: The country code of the stock
                        enName:
                          type: string
                          example: SONDER HLD A ORD
                          description: The English name of the stock
                        zhName:
                          type: string
                          example: null
                          description: The Chinese name of the stock
                        cnName:
                          type: string
                          example: null
                          description: The Chinese name of the stock
                        1wReturn:
                          type: number
                          example: 19.918699
                          description: The 1-week return of the stock
                        1mReturn:
                          type: number
                          example: 130.46875
                          description: The 1-month return of the stock
                        3mReturn:
                          type: number
                          example: 127.799228
                          description: The 3-month return of the stock
                        6mReturn:
                          type: number
                          example: -17.918753
                          description: The 6-month return of the stock
                        1yReturn:
                          type: number
                          example: -67.621556
                          description: The 1-year return of the stock
                        rank:
                          type: integer
                          example: 1
                          description: The rank of the stock
                        quote:
                          type: object
                          description: The quote of the stock
                          properties:
                            NETCHNG_1:
                              type: string
                              example: 22.2
                              description: The net change of the stock
                            TRNOVR_UNS:
                              type: string
                              example: 10333
                              description: The turnover of the stock
                            ACVOL_UNS:
                              type: string
                              example: 21000
                              description: The volume of the stock
                            HST_CLOSE:
                              type: string
                              example: 162.50000
                              description: The previous close price of the stock
                            TRDPRC_1:
                              type: string
                              example: 12.3
                              description: The last price of the stock
                            PCTCHNG:
                              type: string
                              example: 3.2
                              description: The percentage change of the stock
                  totalCountByCountry:
                    type: integer
                    example: 18
                    description: The total count by country
                  totalCountBySector:
                    type: integer
                    example: 100
                    description: The total count by sector
                  pagination:
                    type: object
                    properties:
                      hasPrevPage:
                        type: string
                        example: false
                        description: If has previous page.
                      currentPage:
                        type: integer
                        example: 1
                        description: The current page
                      hasNextPage:
                        type: string
                        example: "true"
                        description: If has the next page.
                      totalPages:
                        type: integer
                        example: 68
                        description: Total pages.
                  quote:
                    type: object
                    description: The quote of the stock
                    properties:
                      NETCHNG_1:
                        type: string
                        example: 22.2
                        description: The net change of the stock
                      TRNOVR_UNS:
                        type: string
                        example: 10333
                        description: The turnover of the stock
                      ACVOL_UNS:
                        type: string
                        example: 21000
                        description: The volume of the stock
                      HST_CLOSE:
                        type: string
                        example: 162.50000
                        description: The previous close price of the stock
                      TRDPRC_1:
                        type: string
                        example: 12.3
                        description: The last price of the stock
                      PCTCHNG:
                        type: string
                        example: 3.2
                        description: The percentage change of the stock
                  companyInfo:
                    type: object
                    properties:
                      enName:
                        type: string
                        example: test
                        description: The English name of the company
                      zhName:
                        type: string
                        example: test
                        description: The Chinese name of the company
                      cnName:
                        type: string
                        example: test
                        description: The Chinese name of the company
                      currency:
                        type: string
                        example: USD
                        description: The currency of the stock
                      ticker:
                        type: string
                        example: "6501"
                        description: The ticker symbol of the stock
                      sector:
                        type: integer
                        example: 53
                        description: The sector id of the stock
                      exchangeCode:
                        type: string
                        example: NSQ
                        description: The exchange code of the stock
        400:
          description: Bad request
          content: {}
        401:
          description: Invalid token
          content: {}
        404:
          description: No ric matched the exchange code and ticker
          content: {}
        500:
          description: Internal server error
          content: {}
  /peers/summary/pagination/{ric}:
    get:
      tags:
      - Peer
      summary: Peer comparison by summary with ric and pagination.
      operationId: getSummaryInstrumentsBySectorWithRicAndPagination
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
      - name: x-auth-token
        in: header
        description: This is the JWT token. Please use /auth/token POST to generate the token for your test
        required: true
        schema:
          type: string
      - name: ric
        in: path
        description: The ric code
        required: true
        schema:
          type: string
        example: TSLA.O
      - name: orderByColumn
        in: query
        description: The column used to do the sorting. MC-Market Cap, CS-Company Score, ESG-Esg Score, BR-Broker Rating, DY-Dividend Yield
        required: true
        schema:
          type: string
          enum:
          - MC
          - CS
          - PE
          - DY
          - ESG
          - BR
          - EN-LANG
          - ZH-LANG
          - CN-LANG
          - TICKER
      - name: orderByDirection
        in: query
        description: Sort by ascending or descending.
        required: true
        schema:
          type: string
          enum:
          - DESC
          - ASC
      - name: categoriedBy
        in: query
        description: Retrieve instruments by sector and country or sector only.
        required: true
        schema:
          type: string
          enum:
          - COUNTRY
          - SECTOR
      - name: pageNo
        in: query
        description: The current page number.
        required: true
        schema:
          type: integer
          example: 1
      - name: pageSize
        in: query
        description: The number of records on each page.
        required: true
        schema:
          type: integer
          example: 10
      responses:
        200:
          description: The instrument list sorted by the criteria.
          content:
            application/json:
              schema:
                type: object
                properties:
                  rankings:
                    type: array
                    items:
                      type: object
                      properties:
                        ric:
                          type: string
                          example: SOND.O
                          description: The RIC (Reuters Instrument Code) of the stock
                        ticker:
                          type: string
                          example: SOND
                          description: The ticker symbol of the stock
                        sector:
                          type: integer
                          example: 53
                          description: The sector code of the stock
                        sectorDesc:
                          type: string
                          example: Consumer Cyclicals
                          description: The description of the sector
                        exchangeCountryCode:
                          type: string
                          example: US
                          description: The country code of the exchange
                        exchangeCode:
                          type: string
                          example: NSQ
                          description: The exchange code of the stock
                        countryCode:
                          type: string
                          example: USA
                          description: The country code of the stock
                        enName:
                          type: string
                          example: SONDER HLD A ORD
                          description: The English name of the stock
                        zhName:
                          type: string
                          example: null
                          description: The Chinese name of the stock
                        cnName:
                          type: string
                          example: null
                          description: The Chinese name of the stock
                        recommendationSignal:
                          type: string
                          example: Hold
                          description: The recommendation signal
                        esgScore:
                          type: string
                          example: D
                          description: The ESG Score
                        overallScore:
                          type: integer
                          example: 5
                          description: The company overall score
                        PE:
                          type: number
                          example: 22.613
                          description: PE
                        dividendYield:
                          type: number
                          example: 67.621556
                          description: The dividend yield
                        rank:
                          type: integer
                          example: 1
                          description: The rank of the stock
                        quote:
                          type: object
                          description: The quote of the stock
                          properties:
                            NETCHNG_1:
                              type: string
                              example: 22.2
                              description: The net change of the stock
                            TRNOVR_UNS:
                              type: string
                              example: 10333
                              description: The turnover of the stock
                            ACVOL_UNS:
                              type: string
                              example: 21000
                              description: The volume of the stock
                            HST_CLOSE:
                              type: string
                              example: 162.50000
                              description: The previous close price of the stock
                            TRDPRC_1:
                              type: string
                              example: 12.3
                              description: The last price of the stock
                            PCTCHNG:
                              type: string
                              example: 3.2
                              description: The percentage change of the stock
                            DIVIDEND:
                              type: string
                              example: 2.4
                              descriptioin: The dividend of the stock
                            YIELD:
                              type: string
                              example: 1.1
                              description: The yield of the stock
                  totalCountByCountry:
                    type: integer
                    example: 18
                    description: The total count by country
                  totalCountBySector:
                    type: integer
                    example: 100
                    description: The total count by sector
                  pagination:
                    type: object
                    properties:
                      hasPrevPage:
                        type: string
                        example: false
                        description: If has previous page.
                      currentPage:
                        type: integer
                        example: 1
                        description: The current page
                      hasNextPage:
                        type: string
                        example: "true"
                        description: If has the next page.
                      totalPages:
                        type: integer
                        example: 68
                        description: Total pages.
                  quote:
                    type: object
                    description: The quote of the stock
                    properties:
                      NETCHNG_1:
                        type: string
                        example: 22.2
                        description: The net change of the stock
                      TRNOVR_UNS:
                        type: string
                        example: 10333
                        description: The turnover of the stock
                      ACVOL_UNS:
                        type: string
                        example: 21000
                        description: The volume of the stock
                      HST_CLOSE:
                        type: string
                        example: 162.50000
                        description: The previous close price of the stock
                      TRDPRC_1:
                        type: string
                        example: 12.3
                        description: The last price of the stock
                      PCTCHNG:
                        type: string
                        example: 3.2
                        description: The percentage change of the stock
                      DIVIDEND:
                        type: string
                        example: 2.4
                        descriptioin: The dividend of the stock
                      YIELD:
                        type: string
                        example: 1.1
                        description: The yield of the stock
                  companyInfo:
                    type: object
                    properties:
                      enName:
                        type: string
                        example: test
                        description: The English name of the company
                      zhName:
                        type: string
                        example: test
                        description: The Chinese name of the company
                      cnName:
                        type: string
                        example: test
                        description: The Chinese name of the company
                      currency:
                        type: string
                        example: USD
                        description: The currency of the stock
                      ticker:
                        type: string
                        example: "6501"
                        description: The ticker symbol of the stock
                      sector:
                        type: integer
                        example: 53
                        description: The sector id of the stock
                      exchangeCode:
                        type: string
                        example: NSQ
                        description: The exchange code of the stock
        400:
          description: Bad request
          content: {}
        401:
          description: Invalid token
          content: {}
        404:
          description: No ric matched the exchange code and ticker
          content: {}
        500:
          description: Internal server error
          content: {}
  /peers/summary/pagination/{pageNo}/{pageSize}:
    get:
      tags:
      - Peer
      summary: Peer comparison by summary with exchange code & ticker and pagination.
      operationId: getSummaryInstrumentsBySectorWithExchangeCodeAndTickerWithPagination
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
      - name: x-auth-token
        in: header
        description: This is the JWT token. Please use /auth/token POST to generate the token for your test
        required: true
        schema:
          type: string
      - name: exchangeCode
        in: query
        description: The exchange code
        required: true
        schema:
          type: string
        example: NSQ
      - name: ticker
        in: query
        description: The ticker
        required: true
        schema:
          type: string
        example: TSLA
      - name: orderByColumn
        in: query
        description: The column used to do the sorting. MC-Market Cap, CS-Company Score, ESG-Esg Score, BR-Broker Rating, DY-Dividend Yield
        required: true
        schema:
          type: string
          enum:
          - MC
          - CS
          - PE
          - DY
          - ESG
          - BR
          - EN-LANG
          - ZH-LANG
          - CN-LANG
          - TICKER
      - name: orderByDirection
        in: query
        description: Sort by ascending or descending.
        required: true
        schema:
          type: string
          enum:
          - DESC
          - ASC
      - name: categoriedBy
        in: query
        description: Retrieve instruments by sector and country or sector only.
        required: true
        schema:
          type: string
          enum:
          - COUNTRY
          - SECTOR
      - name: pageNo
        in: path
        description: The current page number.
        required: true
        schema:
          type: integer
          example: 1
      - name: pageSize
        in: path
        description: The number of records on each page.
        required: true
        schema:
          type: integer
          example: 10
      responses:
        200:
          description: The instrument list sorted by the criteria.
          content:
            application/json:
              schema:
                type: object
                properties:
                  rankings:
                    type: array
                    items:
                      type: object
                      properties:
                        ric:
                          type: string
                          example: SOND.O
                          description: The RIC (Reuters Instrument Code) of the stock
                        ticker:
                          type: string
                          example: SOND
                          description: The ticker symbol of the stock
                        sector:
                          type: integer
                          example: 53
                          description: The sector code of the stock
                        sectorDesc:
                          type: string
                          example: Consumer Cyclicals
                          description: The description of the sector
                        exchangeCountryCode:
                          type: string
                          example: US
                          description: The country code of the exchange
                        exchangeCode:
                          type: string
                          example: NSQ
                          description: The exchange code of the stock
                        countryCode:
                          type: string
                          example: USA
                          description: The country code of the stock
                        enName:
                          type: string
                          example: SONDER HLD A ORD
                          description: The English name of the stock
                        zhName:
                          type: string
                          example: null
                          description: The Chinese name of the stock
                        cnName:
                          type: string
                          example: null
                          description: The Chinese name of the stock
                        recommendationSignal:
                          type: string
                          example: Hold
                          description: The recommendation signal
                        esgScore:
                          type: string
                          example: D
                          description: The ESG Score
                        overallScore:
                          type: integer
                          example: 5
                          description: The company overall score
                        PE:
                          type: number
                          example: 22.613
                          description: PE
                        dividendYield:
                          type: number
                          example: 67.621556
                          description: The dividend yield
                        rank:
                          type: integer
                          example: 1
                          description: The rank of the stock
                        quote:
                          type: object
                          description: The quote of the stock
                          properties:
                            NETCHNG_1:
                              type: string
                              example: 22.2
                              description: The net change of the stock
                            TRNOVR_UNS:
                              type: string
                              example: 10333
                              description: The turnover of the stock
                            ACVOL_UNS:
                              type: string
                              example: 21000
                              description: The volume of the stock
                            HST_CLOSE:
                              type: string
                              example: 162.50000
                              description: The previous close price of the stock
                            TRDPRC_1:
                              type: string
                              example: 12.3
                              description: The last price of the stock
                            PCTCHNG:
                              type: string
                              example: 3.2
                              description: The percentage change of the stock
                            DIVIDEND:
                              type: string
                              example: 2.4
                              descriptioin: The dividend of the stock
                            YIELD:
                              type: string
                              example: 1.1
                              description: The yield of the stock
                  totalCountByCountry:
                    type: integer
                    example: 18
                    description: The total count by country
                  totalCountBySector:
                    type: integer
                    example: 100
                    description: The total count by sector
                  pagination:
                    type: object
                    properties:
                      hasPrevPage:
                        type: string
                        example: false
                        description: If has previous page.
                      currentPage:
                        type: integer
                        example: 1
                        description: The current page
                      hasNextPage:
                        type: string
                        example: "true"
                        description: If has the next page.
                      totalPages:
                        type: integer
                        example: 68
                        description: Total pages.
                  quote:
                    type: object
                    description: The quote of the stock
                    properties:
                      NETCHNG_1:
                        type: string
                        example: 22.2
                        description: The net change of the stock
                      TRNOVR_UNS:
                        type: string
                        example: 10333
                        description: The turnover of the stock
                      ACVOL_UNS:
                        type: string
                        example: 21000
                        description: The volume of the stock
                      HST_CLOSE:
                        type: string
                        example: 162.50000
                        description: The previous close price of the stock
                      TRDPRC_1:
                        type: string
                        example: 12.3
                        description: The last price of the stock
                      PCTCHNG:
                        type: string
                        example: 3.2
                        description: The percentage change of the stock
                      DIVIDEND:
                        type: string
                        example: 2.4
                        descriptioin: The dividend of the stock
                      YIELD:
                        type: string
                        example: 1.1
                        description: The yield of the stock
                  companyInfo:
                    type: object
                    properties:
                      enName:
                        type: string
                        example: test
                        description: The English name of the company
                      zhName:
                        type: string
                        example: test
                        description: The Chinese name of the company
                      cnName:
                        type: string
                        example: test
                        description: The Chinese name of the company
                      currency:
                        type: string
                        example: USD
                        description: The currency of the stock
                      ticker:
                        type: string
                        example: "6501"
                        description: The ticker symbol of the stock
                      sector:
                        type: integer
                        example: 53
                        description: The sector id of the stock
                      exchangeCode:
                        type: string
                        example: NSQ
                        description: The exchange code of the stock
        400:
          description: Bad request
          content: {}
        401:
          description: Invalid token
          content: {}
        404:
          description: No ric matched the exchange code and ticker
          content: {}
        500:
          description: Internal server error
          content: {}
  /peers/fundamental/pagination/{ric}:
    get:
      tags:
      - Peer
      summary: Peer comparison by fundamental with ric and pagination.
      operationId: getFundamentalInstrumentsBySectorWithRicAndPagination
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
      - name: x-auth-token
        in: header
        description: This is the JWT token. Please use /auth/token POST to generate the token for your test
        required: true
        schema:
          type: string
      - name: ric
        in: path
        description: The ric code
        required: true
        schema:
          type: string
        example: TSLA.O
      - name: orderByColumn
        in: query
        description: The column used to do the sorting. MC-Market Cap, DY-Dividend Yield, PERE-Estimated PER, PERA-Actual PER, PBRE-Estimated PBR, PBRA-Actual PBR, ROEE-Estimated ROE, ROEA-Actual ROE
        required: true
        schema:
          type: string
          enum:
          - MC
          - PERE
          - PERA
          - PBRE
          - PBRA
          - DY
          - ROEE
          - ROEA
          - EN-LANG
          - ZH-LANG
          - CN-LANG
          - TICKER
      - name: orderByDirection
        in: query
        description: Sort by ascending or descending.
        required: true
        schema:
          type: string
          enum:
          - DESC
          - ASC
      - name: categoriedBy
        in: query
        description: Retrieve instruments by sector and country or sector only.
        required: true
        schema:
          type: string
          enum:
          - COUNTRY
          - SECTOR
      - name: pageNo
        in: query
        description: The current page number.
        required: true
        schema:
          type: integer
          example: 1
      - name: pageSize
        in: query
        description: The number of records on each page.
        required: true
        schema:
          type: integer
          example: 10
      responses:
        200:
          description: The instrument list sorted by the criteria.
          content:
            application/json:
              schema:
                type: object
                properties:
                  rankings:
                    type: array
                    items:
                      type: object
                      properties:
                        ric:
                          type: string
                          example: SOND.O
                          description: The RIC (Reuters Instrument Code) of the stock
                        ticker:
                          type: string
                          example: SOND
                          description: The ticker symbol of the stock
                        sector:
                          type: integer
                          example: 53
                          description: The sector code of the stock
                        sectorDesc:
                          type: string
                          example: Consumer Cyclicals
                          description: The description of the sector
                        exchangeCountryCode:
                          type: string
                          example: US
                          description: The country code of the exchange
                        exchangeCode:
                          type: string
                          example: NSQ
                          description: The exchange code of the stock
                        countryCode:
                          type: string
                          example: USA
                          description: The country code of the stock
                        enName:
                          type: string
                          example: SONDER HLD A ORD
                          description: The English name of the stock
                        zhName:
                          type: string
                          example: null
                          description: The Chinese name of the stock
                        cnName:
                          type: string
                          example: null
                          description: The Chinese name of the stock
                        marketCapInUSD:
                          type: number
                          example: 110087.6
                          description: The market capital value in USD
                        dividendYield:
                          type: number
                          example: 1.33
                          description: The dividend yield
                        roeActual:
                          type: number
                          example: 22.6
                          description: The actual ROE
                        roeEstimate:
                          type: number
                          example: 22.613
                          description: The estimate ROE
                        perActual:
                          type: number
                          example: 67.621556
                          description: The actual PER
                        perConsensusEstimate:
                          type: number
                          example: 67.621556
                          description: The estimated PER
                        pbrActual:
                          type: number
                          example: 11.22
                          description: The actual PBR
                        pbrConsensusEstimate:
                          type: number
                          example: 11.22
                          description: The estimated PBR
                        rank:
                          type: integer
                          example: 1
                          description: The rank of the stock
                        quote:
                          type: object
                          description: The quote of the stock
                          properties:
                            NETCHNG_1:
                              type: string
                              example: 22.2
                              description: The net change of the stock
                            TRNOVR_UNS:
                              type: string
                              example: 10333
                              description: The turnover of the stock
                            ACVOL_UNS:
                              type: string
                              example: 21000
                              description: The volume of the stock
                            HST_CLOSE:
                              type: string
                              example: 162.50000
                              description: The previous close price of the stock
                            TRDPRC_1:
                              type: string
                              example: 12.3
                              description: The last price of the stock
                            PCTCHNG:
                              type: string
                              example: 3.2
                              description: The percentage change of the stock
                            DIVIDEND:
                              type: string
                              example: 2.4
                              descriptioin: The dividend of the stock
                            YIELD:
                              type: string
                              example: 1.1
                              description: The yield of the stock
                  totalCountByCountry:
                    type: integer
                    example: 18
                    description: The total count by country
                  totalCountBySector:
                    type: integer
                    example: 100
                    description: The total count by sector
                  pagination:
                    type: object
                    properties:
                      hasPrevPage:
                        type: string
                        example: false
                        description: If has previous page.
                      currentPage:
                        type: integer
                        example: 1
                        description: The current page
                      hasNextPage:
                        type: string
                        example: "true"
                        description: If has the next page.
                      totalPages:
                        type: integer
                        example: 68
                        description: Total pages.
                  quote:
                    type: object
                    description: The quote of the stock
                    properties:
                      NETCHNG_1:
                        type: string
                        example: 22.2
                        description: The net change of the stock
                      TRNOVR_UNS:
                        type: string
                        example: 10333
                        description: The turnover of the stock
                      ACVOL_UNS:
                        type: string
                        example: 21000
                        description: The volume of the stock
                      HST_CLOSE:
                        type: string
                        example: 162.50000
                        description: The previous close price of the stock
                      TRDPRC_1:
                        type: string
                        example: 12.3
                        description: The last price of the stock
                      PCTCHNG:
                        type: string
                        example: 3.2
                        description: The percentage change of the stock
                      DIVIDEND:
                        type: string
                        example: 2.4
                        descriptioin: The dividend of the stock
                      YIELD:
                        type: string
                        example: 1.1
                        description: The yield of the stock
                  companyInfo:
                    type: object
                    properties:
                      enName:
                        type: string
                        example: test
                        description: The English name of the company
                      zhName:
                        type: string
                        example: test
                        description: The Chinese name of the company
                      cnName:
                        type: string
                        example: test
                        description: The Chinese name of the company
                      currency:
                        type: string
                        example: USD
                        description: The currency of the stock
                      ticker:
                        type: string
                        example: "6501"
                        description: The ticker symbol of the stock
                      sector:
                        type: integer
                        example: 53
                        description: The sector id of the stock
                      exchangeCode:
                        type: string
                        example: NSQ
                        description: The exchange code of the stock
        400:
          description: Bad request
          content: {}
        401:
          description: Invalid token
          content: {}
        404:
          description: No ric matched the exchange code and ticker
          content: {}
        500:
          description: Internal server error
          content: {}
  /peers/fundamental/pagination/{pageNo}/{pageSize}:
    get:
      tags:
      - Peer
      summary: Peer comparison by performance with exchange code & ticker and pagination.
      operationId: getFundamentalInstrumentsBySectorWithExchangeCodeAndTickerAndPagination
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
      - name: x-auth-token
        in: header
        description: This is the JWT token. Please use /auth/token POST to generate the token for your test
        required: true
        schema:
          type: string
      - name: exchangeCode
        in: query
        description: The exchange code
        required: true
        schema:
          type: string
        example: NSQ
      - name: ticker
        in: query
        description: The ticker
        required: true
        schema:
          type: string
        example: TSLA
      - name: orderByColumn
        in: query
        description: The column used to do the sorting. MC-Market Cap, DY-Dividend Yield, PERE-Estimated PER, PERA-Actual PER, PBRE-Estimated PBR, PBRA-Actual PBR, ROEE-Estimated ROE, ROEA-Actual ROE
        required: true
        schema:
          type: string
          enum:
          - MC
          - PERE
          - PERA
          - PBRE
          - PBRA
          - DY
          - ROEE
          - ROEA
          - EN-LANG
          - ZH-LANG
          - CN-LANG
          - TICKER
      - name: orderByDirection
        in: query
        description: Sort by ascending or descending.
        required: true
        schema:
          type: string
          enum:
          - DESC
          - ASC
      - name: categoriedBy
        in: query
        description: Retrieve instruments by sector and country or sector only.
        required: true
        schema:
          type: string
          enum:
          - COUNTRY
          - SECTOR
      - name: pageNo
        in: path
        description: The current page number.
        required: true
        schema:
          type: integer
          example: 1
      - name: pageSize
        in: path
        description: The number of records on each page.
        required: true
        schema:
          type: integer
          example: 10
      responses:
        200:
          description: The instrument list sorted by the criteria.
          content:
            application/json:
              schema:
                type: object
                properties:
                  rankings:
                    type: array
                    items:
                      type: object
                      properties:
                        ric:
                          type: string
                          example: SOND.O
                          description: The RIC (Reuters Instrument Code) of the stock
                        ticker:
                          type: string
                          example: SOND
                          description: The ticker symbol of the stock
                        sector:
                          type: integer
                          example: 53
                          description: The sector code of the stock
                        sectorDesc:
                          type: string
                          example: Consumer Cyclicals
                          description: The description of the sector
                        exchangeCountryCode:
                          type: string
                          example: US
                          description: The country code of the exchange
                        exchangeCode:
                          type: string
                          example: NSQ
                          description: The exchange code of the stock
                        countryCode:
                          type: string
                          example: USA
                          description: The country code of the stock
                        enName:
                          type: string
                          example: SONDER HLD A ORD
                          description: The English name of the stock
                        zhName:
                          type: string
                          example: null
                          description: The Chinese name of the stock
                        cnName:
                          type: string
                          example: null
                          description: The Chinese name of the stock
                        marketCapInUSD:
                          type: number
                          example: 110087.6
                          description: The market capital value in USD
                        dividendYield:
                          type: number
                          example: 1.33
                          description: The dividend yield
                        roeActual:
                          type: number
                          example: 22.6
                          description: The actual ROE
                        roeEstimate:
                          type: number
                          example: 22.613
                          description: The estimate ROE
                        perActual:
                          type: number
                          example: 67.621556
                          description: The actual PER
                        perConsensusEstimate:
                          type: number
                          example: 67.621556
                          description: The estimated PER
                        pbrActual:
                          type: number
                          example: 11.22
                          description: The actual PBR
                        pbrConsensusEstimate:
                          type: number
                          example: 11.22
                          description: The estimated PBR
                        rank:
                          type: integer
                          example: 1
                          description: The rank of the stock
                        quote:
                          type: object
                          description: The quote of the stock
                          properties:
                            NETCHNG_1:
                              type: string
                              example: 22.2
                              description: The net change of the stock
                            TRNOVR_UNS:
                              type: string
                              example: 10333
                              description: The turnover of the stock
                            ACVOL_UNS:
                              type: string
                              example: 21000
                              description: The volume of the stock
                            HST_CLOSE:
                              type: string
                              example: 162.50000
                              description: The previous close price of the stock
                            TRDPRC_1:
                              type: string
                              example: 12.3
                              description: The last price of the stock
                            PCTCHNG:
                              type: string
                              example: 3.2
                              description: The percentage change of the stock
                            DIVIDEND:
                              type: string
                              example: 2.4
                              descriptioin: The dividend of the stock
                            YIELD:
                              type: string
                              example: 1.1
                              description: The yield of the stock
                  totalCountByCountry:
                    type: integer
                    example: 18
                    description: The total count by country
                  totalCountBySector:
                    type: integer
                    example: 100
                    description: The total count by sector
                  pagination:
                    type: object
                    properties:
                      hasPrevPage:
                        type: string
                        example: false
                        description: If has previous page.
                      currentPage:
                        type: integer
                        example: 1
                        description: The current page
                      hasNextPage:
                        type: string
                        example: "true"
                        description: If has the next page.
                      totalPages:
                        type: integer
                        example: 68
                        description: Total pages.
                  quote:
                    type: object
                    description: The quote of the stock
                    properties:
                      NETCHNG_1:
                        type: string
                        example: 22.2
                        description: The net change of the stock
                      TRNOVR_UNS:
                        type: string
                        example: 10333
                        description: The turnover of the stock
                      ACVOL_UNS:
                        type: string
                        example: 21000
                        description: The volume of the stock
                      HST_CLOSE:
                        type: string
                        example: 162.50000
                        description: The previous close price of the stock
                      TRDPRC_1:
                        type: string
                        example: 12.3
                        description: The last price of the stock
                      PCTCHNG:
                        type: string
                        example: 3.2
                        description: The percentage change of the stock
                      DIVIDEND:
                        type: string
                        example: 2.4
                        descriptioin: The dividend of the stock
                      YIELD:
                        type: string
                        example: 1.1
                        description: The yield of the stock
                  companyInfo:
                    type: object
                    properties:
                      enName:
                        type: string
                        example: test
                        description: The English name of the company
                      zhName:
                        type: string
                        example: test
                        description: The Chinese name of the company
                      cnName:
                        type: string
                        example: test
                        description: The Chinese name of the company
                      currency:
                        type: string
                        example: USD
                        description: The currency of the stock
                      ticker:
                        type: string
                        example: "6501"
                        description: The ticker symbol of the stock
                      sector:
                        type: integer
                        example: 53
                        description: The sector id of the stock
                      exchangeCode:
                        type: string
                        example: NSQ
                        description: The exchange code of the stock
        400:
          description: Bad request
          content: {}
        401:
          description: Invalid token
          content: {}
        404:
          description: No ric matched the exchange code and ticker
          content: {}
        500:
          description: Internal server error
          content: {}
  /peers/companyScore/pagination/{ric}/:
    get:
      tags:
      - Peer
      summary: Peer comparison by company score with ric and pagination.
      operationId: getCompanyScoreInstrumentsBySectorWithRicAndPagination
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
      - name: x-auth-token
        in: header
        description: This is the JWT token. Please use /auth/token POST to generate the token for your test
        required: true
        schema:
          type: string
      - name: ric
        in: path
        description: The ric code
        required: true
        schema:
          type: string
        example: TSLA.O
      - name: orderByColumn
        in: query
        description: The column used to do the sorting. OS-Overall Score, ES-Earning Score, FS-Fundamental Score, VS-Valuation Score, ERS-Risk Score, MS-Price Momentum Score
        required: true
        schema:
          type: string
          enum:
          - OS
          - ES
          - FS
          - VS
          - ERS
          - MS
          - EN-LANG
          - ZH-LANG
          - CN-LANG
          - TICKER
      - name: orderByDirection
        in: query
        description: Sort by ascending or descending.
        required: true
        schema:
          type: string
          enum:
          - DESC
          - ASC
      - name: categoriedBy
        in: query
        description: Retrieve instruments by sector and country or sector only.
        required: true
        schema:
          type: string
          enum:
          - COUNTRY
          - SECTOR
      - name: pageNo
        in: query
        description: The current page number.
        required: true
        schema:
          type: integer
          example: 1
      - name: pageSize
        in: query
        description: The number of records on each page.
        required: true
        schema:
          type: integer
          example: 10
      responses:
        200:
          description: The instrument list sorted by the criteria.
          content:
            application/json:
              schema:
                type: object
                properties:
                  rankings:
                    type: array
                    items:
                      type: object
                      properties:
                        ric:
                          type: string
                          example: SOND.O
                          description: The RIC (Reuters Instrument Code) of the stock
                        ticker:
                          type: string
                          example: SOND
                          description: The ticker symbol of the stock
                        sector:
                          type: integer
                          example: 53
                          description: The sector code of the stock
                        sectorDesc:
                          type: string
                          example: Consumer Cyclicals
                          description: The description of the sector
                        exchangeCountryCode:
                          type: string
                          example: US
                          description: The country code of the exchange
                        exchangeCode:
                          type: string
                          example: NSQ
                          description: The exchange code of the stock
                        countryCode:
                          type: string
                          example: USA
                          description: The country code of the stock
                        enName:
                          type: string
                          example: SONDER HLD A ORD
                          description: The English name of the stock
                        zhName:
                          type: string
                          example: null
                          description: The Chinese name of the stock
                        cnName:
                          type: string
                          example: null
                          description: The Chinese name of the stock
                        overallScore:
                          type: integer
                          example: 5
                          description: The overall score
                        earningsScore:
                          type: integer
                          example: 1
                          description: The earnings score
                        fundamentalScore:
                          type: integer
                          example: 9
                          description: The fundamental score
                        valuationScore:
                          type: integer
                          example: 7
                          description: The valuation score
                        riskScore:
                          type: integer
                          example: 8
                          description: The risk score
                        priceMomentumScore:
                          type: integer
                          example: 6
                          description: The price momentum score
                        rank:
                          type: integer
                          example: 1
                          description: The rank of the stock
                        quote:
                          type: object
                          description: The quote of the stock
                          properties:
                            NETCHNG_1:
                              type: string
                              example: 22.2
                              description: The net change of the stock
                            TRNOVR_UNS:
                              type: string
                              example: 10333
                              description: The turnover of the stock
                            ACVOL_UNS:
                              type: string
                              example: 21000
                              description: The volume of the stock
                            HST_CLOSE:
                              type: string
                              example: 162.50000
                              description: The previous close price of the stock
                            TRDPRC_1:
                              type: string
                              example: 12.3
                              description: The last price of the stock
                            PCTCHNG:
                              type: string
                              example: 3.2
                              description: The percentage change of the stock
                  totalCountByCountry:
                    type: integer
                    example: 18
                    description: The total count by country
                  totalCountBySector:
                    type: integer
                    example: 100
                    description: The total count by sector
                  pagination:
                    type: object
                    properties:
                      hasPrevPage:
                        type: string
                        example: false
                        description: If has previous page.
                      currentPage:
                        type: integer
                        example: 1
                        description: The current page
                      hasNextPage:
                        type: string
                        example: "true"
                        description: If has the next page.
                      totalPages:
                        type: integer
                        example: 68
                        description: Total pages.
                  quote:
                    type: object
                    description: The quote of the stock
                    properties:
                      NETCHNG_1:
                        type: string
                        example: 22.2
                        description: The net change of the stock
                      TRNOVR_UNS:
                        type: string
                        example: 10333
                        description: The turnover of the stock
                      ACVOL_UNS:
                        type: string
                        example: 21000
                        description: The volume of the stock
                      HST_CLOSE:
                        type: string
[...]
